# Starting spark session

In [ ]:
import org.apache.spark.sql.sparkSession

In [ ]:
# creation of reading script with default schema (system generator name)
val orders=spark.
read.
csv("/public/retail_db/orders")

In [ ]:
# creation of reading script with option ("inferSchema")
# the types of each fields are taking into account. 
val orders=spark.
read.
option("inferSchema","true").
csv("/public/retail_db/orders")

In [ ]:
# creation of reading script with define schema 
val orders=spark.
read.
schema(""" order_id INT, order_date TIMESTAMP,
        order_customer_id INT, order_status STRING
        """).
csv("/public/retail_db/orders")

In [ ]:
# creation of reading script with define schema and option 
val orders=spark.
read.
schema(""" order_id INT, order_date TIMESTAMP,
        order_customer_id INT, order_status STRING
        """).
option("sep",",").
csv("/public/retail_db/orders")

In [ ]:
# creation of reading script with define schema and 
#option(separator which is comma in this case) and format of the file
val orders=spark.
read.
schema(""" order_id INT, order_date TIMESTAMP,
        order_customer_id INT, order_status STRING
        """).
option("sep",",").
format("csv").
load("/public/retail_db/orders")

##### 'We can built the same with json file'

## 83 - Overview of functions

In [ ]:
# using col and lit
#import spark.implicit._
import org.apache.spark.sql.functions.{col, lit, concat} 
employeesDF.
     select(col("employee_id"), concat(col("first_name"), lit(" "),
            col("last_name")).alias("full_name"),
            col("salary"), col("nationality")
            ).show

In [ ]:
# withColumn without dropping 
employeesDF.
      withColumn("full_name",concat(col("first_name"), lit(" "),
            col("last_name"))
            ).show

In [ ]:
# withColumn without drop
employeesDF.
      withColumn("full_name",concat(col("first_name"), lit(","),
            col("last_name"))).
            drop("first_name", "last_name").show

In [ ]:
# with $ with drop
employeesDF.
      withColumn("full_name",concat($"first_name", lit(","),
            $"last_name")).
            drop("first_name", "last_name").show

In [ ]:
# with SQL to see all functions
spark.sql("SHOW functions").show(300, false)
# looking the description of the concat function
spark.sql("DESCRIBE FUNCTION concat").show(false)

In [ ]:
# with SQL 
employeesDF.
      selectExpr("employee_id", "concat(first_name, ' ', last_name) AS full_name", 
                 "salary","nationality").show

In [ ]:
# getting the information about the fuile format
spark.conf.get("spark.sql.parquet.compression.codec")
#res30: String = snappy : mean compress file

In [ ]:
# Using write.parquet
orders.
    write.
    coealesce(1).
    option("compression", "none").
    mode("overwrite").
    format("parquet").
    save("/public/retail_db/orders")

# SECTION 7: Spark2 processing data

In [ ]:
# intialisation with spark context
import org.apache.spark.sql.SparkSession

In [ ]:
val spark = SparkSassion.
               builder.
            config("spark.ui.port", "0").
            appName(" rigobert init spark").
            master("yarn").
            getOrCreate

In [ ]:
spark

In [ ]:
import spark.implicits_

# Perform the case convertion

In [ ]:
import org.apache.spark.sql.function{concat, col, lit, upper, initcap, lower}

In [ ]:
employeesDF.
    select("employee_id","nationality").
    withColumn("nationality_upper", upper($"nationality")).
    withColumn("nationality_lower", lower(col("nationality"))).
    withColumn("nationality_initcap", initcap(employeesDF("nationality"))).
    withColumn("nationality_length", length(col("nationality"))).show